BasedOnStyle: Chromium
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Right
IncludeBlocks: Merge
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
SortIncludes: Never

# Only from clang-format 14.0.0
AlignAfterOpenBracket: BlockIndent
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
EmptyLineAfterAccessModifier: Never
ReflowComments: true
PenaltyBreakComment: 0
PenaltyBreakOpenParenthesis: 1
